<html>
  <head>
    <style>
      *#main_content {
        background-image: url('img/yeezy.JPG') ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        transform: translate(0px, 0px, 0px);
        background-image: url('img/yeezy.JPG') -webkit-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
        background-image: url('img/yeezy.JPG') -moz-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
        background-image: url('img/yeezy.JPG') -o-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
        background-image: url('img/yeezy.JPG') linear-gradient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
        height: 95vh;
      }

      @font-face {
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: normal;
      src: local('Bebas Neue'), url('BebasNeue.woff') format('woff')
      }

      #text-overlay {
        background-color: rgba(50, 50, 50, 0.6);
      }

      #background {
          background-color: rgba(50, 50, 50, 0.6);
        padding-top: 35vh;
        display: block;
        color: white;
        text-align: center;
        height: 95vh;
      }

      h2 {
        font-family: helvetica;
        letter-spacing:4px;
        font-size: 1em;
      }


    </style>
  </head>
  <body>

</div>
    <div id ="background"
      <div id ="text-overlay">
        <h2>YOUR PERSONAL SNEAKER VAULT</h2>
        <h1 style="font-family:'Bebas Neue';font-weight:normal;font-size:5em">KEEP TRACK OF THE SNEAKERS YOU LOVE</h1>
            <a href="/signup" class="button btn btn-primary btn-primary-outline btn-pill">Sign Up</a>
            <a href="/login" class="button btn btn-primary btn-primary-outline btn-pill">Log In</a>
      </div>
    </div>

  </body>
</html
