<h1> ADD A SHOE</h1>
<form action="/shoes/new" method="POST">
<label>Brand:</label><input type="text" name="brand"><br>
<label>Style/Colorway:</label><input type="text" name="style_name"><br>
<label>Size:</label><input type="integer" name="size"><br>
<label>Color:</label><input type="text" name="color"><br>
<input type="submit" value="Submit" id="submit">
</form>
